*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato', sans-serif;
    color: #333;
}

#icono-cesta {
    width: 40px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px 0; /* Ajusta el relleno superior e inferior */
    background-color: crimson; /* Agrega el fondo rojo */
}
/* Estilos para el buscador */
.buscador {
    margin-top: 20px; /* Agrega margen superior al buscador */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para el campo de búsqueda */
.buscador input[type="text"] {
    border: none; /* Quita el borde */
    outline: none; /* Quita el contorno al hacer clic */
    width: 80%; /* Ancho del campo de búsqueda */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para el botón de búsqueda */
.buscador input[type="submit"] {
    border: none; /* Quita el borde */
    background-color: crimson; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Cambia el color de fondo al pasar sobre el botón */
.buscador input[type="submit"]:hover {
    background-color: #aa0000;
}

.container-icon {
    margin-left: auto; /* Alinea el icono en la derecha */
}


img {
    max-width: 100%;
}

.container-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.item {
    width: calc(33.33% - 20px); /* Calcula el ancho del artículo con espacio entre ellos */
    background-color: #f9f9f9; /* Color de fondo de la caja del artículo */
    padding: 20px; /* Espacio interno de la caja del artículo */
    border-radius: 10px; /* Borde redondeado */
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.item:hover img{

    transform: scale(1.2);
}

.item figure {
    margin-bottom: 15px; /* Espacio inferior entre la imagen y el contenido */
}


/* Estilos para la información del producto */
.informacion-producto {
    text-align: center; /* Centra el contenido */
}

/* Estilos para el nombre del producto */
.informacion-producto h2 {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Estilos para el precio del producto */
.price {
    font-weight: bold;
    color: #008000; /* Color verde para el precio */
    font-size: 16px;
}

button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espacio interno del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar sobre el botón */
}

.informacion-producto button {
    border: none;
    background: none;
    background-color: #333;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
   width: 100%;
    
  }
  
  .contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Secciones del footer */
  
  .informacion,
  .contacto,
  .redes-sociales {
    width: 30%; /* Ajusta el ancho de las secciones según tu gusto */
    text-align: center;
  }
  
  /* Títulos de las secciones */
  
  .informacion h2,
  .contacto h2,
  .redes-sociales h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  /* Enlaces de las secciones */
  
  .informacion a,
  .contacto a,
  .redes-sociales a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .informacion a:hover,
  .contacto a:hover,
  .redes-sociales a:hover {
    color: #ccc;
  }
  
  /* Sección de información */
  
  .informacion p {
    line-height: 1.6;
  }
  
  /* Sección de contacto */
  
  .contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .contacto li {
    margin-bottom: 10px;
  }
  
  /* Sección de redes sociales */
  
  .redes-sociales ul {
    list-style: none;
    padding: 0;
  }
  
  .redes-sociales i {
    margin-right: 10px;
  }
  
  /* Derechos de autor */
  
  .derechos {
    text-align: center;
    padding: 10px 0;
  }
  
  .derechos p {
    font-size: 12px;
  }